/* This is for ICE4 */
img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }

h1{
    color: orange;
}

p{
    color: purple;
}

section{
    background-color: lightgrey;
    overflow: auto;
    padd
}